body{
    font-family: orbitron, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-transform: capitalize;
}
h2{
    text-align: center;
}
h6{
    margin-top: -20px;
}
#milestones{
    text-align: left;
}
p{
    font-size: small;
    text-align: center;
}
.gold{
    color: rgb(223, 192, 13);
}
.prpl{
    color: rgb(129, 12, 139);
}
.blue{
    color: rgb(38, 38, 138);
}
.grn{
    color: rgb(71, 158, 71);
}
.gray{
    color: grey;
}
