body{
    font-family: orbitron, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-transform: capitalize;
}
h2{
    text-align: center;
}
h6{
    margin-top: -20px;
}
#milestones{
    text-align: left;
}
p{
    font-size: small;
    text-align: center;
}
