body {
    font-family: orbitron ,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-transform: capitalize;
}

#board {
    z-index: -1;
    background-color: black;
    position: relative;
    border: 5px inset rgb(0, 0, 0);
}
#left-button, #right-button, #start-button{
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    /*background-position: center;
    border: none;
    /*border: 3px outset black;*/
    margin-top: 20px;
}
#left-button{
    background-image: url(resources/left2.jpg);
    padding-left: 50px;
    padding-top: 55px;
}
#right-button{
    background-image: url(resources/right2.jpg);
    padding-left: 50px;
    padding-top: 55px;
}
#right-button:active, #left-button:active{
    padding-left:48px;
    padding-top:53px;
    border: 2px inset rgba(10, 10, 10, 0.2);
}
#start-button{
    background-color: rgb(228, 228, 228);
    font-family: orbitron,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bolder;
    font-size: large;
    color: #000000;
    text-transform: uppercase;
    /*text-shadow: 3px 2px 5px rgb(92, 92, 92);*/
    border: 3px outset rgb(142, 142, 142);
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}
/*#start-button{
    background-image: url(resources/start2.jpg);
    padding-left: 125px;
    padding-top: 40px;
    padding-bottom: 15px;
    margin-left: 100px;
    margin-right: 100px;
}
