body {
  font-family: orbitron, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  text-transform: capitalize;
  background: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}
canvas {
  z-index: -1;
  background-color: black;
  position: relative;
  border: 5px inset rgb(0, 0, 0);
}
.direct-button{
  border: none;
  cursor: pointer;   
  background-repeat: no-repeat;   
  background-size: contain;
  padding-left: 45px;
  padding-top: 50px;
  transition:all 0.1s;
}
.direct-button:active{
  padding-left:43px;
  padding-top:48px;
  border: 2px inset rgba(10, 10, 10, 0.2);
}
#up{
  background-image: url(resources/up2.jpg);
  
}
#left{
  background-image: url(resources/left2.jpg);
  margin-right: 200px;
}
#right{
  background-image: url(resources/right2.jpg);
}
#down{
  background-image: url(resources/down2.jpg);
  margin-right: 100px;
}
